<div id="map"></div>
<div id="map-loading"></div>
<div id="map-controls-layer">
  <div id="map-controls-top-wrapper" class="map-controls d-none">
    <div id="map-controls-top-wrapper-close" class="top-wrapper-close-open-btn"><span class="oi oi-chevron-left"></span></div>
    <div id="map-controls-top-wrapper-open" class="top-wrapper-close-open-btn map-controls" style="display:none;"><span class="oi oi-chevron-right"></span></div>
  </div>

  <div id="map-controls-left-wrapper" class="map-controls d-none">
  </div>

  <div id="map-controls-left-download-wrapper" class="map-controls d-none">
  </div>
</div>