<!-- menu active -->
{% set active_menu_url = "/facilities/{}/density".format(diseaseType) %}
<!--  -->
{% set active_menu_name = "{} 시설 밀집도".format(diseaseType.upper()) %}

<!-- extends layout -->
{% extends "/facilities/layout/base_map.html" %}

<!-- title -->
{% block title %}{{ active_menu_name }}{% endblock %}

<!-- footer -->
{% block footer %}

<script type="text/javascript" src="{{ url_for('static', filename='js/script-map-facilities.js') }}"></script>

<script type="text/javascript">
  diseaseType = "{{ diseaseType }}";
  $(document).ready(function () {
    initForDensity(diseaseType);
  });
</script>

{% endblock %}