<!-- extends layout -->
{% extends "/layout/base.html" %}

<!-- content -->
{% block content_base %}
<!--  -->
{% if isApp|default('false') == 'false' %} {% include '/component/nav_left.html' %} {% endif %}

<div id="content">
  {% if isApp|default('false') == 'false' %} {% include '/public/component/nav_top.html' %} {% endif %}
  <div id="map-wrapper">
    {% include '/public/component/map.html' %}
  </div>
</div>

<div class="overlay"></div>

{% endblock %}

<!-- footer -->
{% block footer_base %}
<!--  -->
<script type="text/javascript">
  var grouping_no = "{{ grouping_no }}";
</script>

{% include '/component/map_templates_and_scripts.html' %} {%- block footer %}{% endblock -%}
<!--  -->
{% endblock %}