<!-- menu active -->
{% set active_menu_url = "/breakout/fmd" %}
<!--  -->
{% set active_menu_name = "발생시 FMD 권역화" %}

<!-- extends layout -->
{% extends "/layout/base_map.html" %}

<!-- title -->
{% block title %}{{ active_menu_name }}{% endblock %}

<!-- footer -->
{% block footer %}

<script type="text/javascript" src="{{ url_for('static', filename='js/script-map-breakout.js') }}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    var species = [{
      label: "돼지",
      checked: true,
      bind: "AI센터"
    }, {
      label: "소",
      bind: ["가축시장", "집유장"]
    }];
  
    var weights = [{
      label: "도축장",
      default: 1
    }, {
      label: "사료공장",
      default: 1
    }, {
      label: "종축장",
      default: 1
    }, {
      label: "AI센터",
      default: 1
    }, {
      label: "가축분뇨처리장",
      default: 1
    }, {
      label: "가축시장",
      default: 0,
      disabled: true
    }, {
      label: "집유장",
      default: 0,
      disabled: true
    }];
  
    var optimizations = {
      group: "optimization",
      items: [{
        label: "전체시설균등",
        checked: true,
      }, {
        label: "도축장 중심",
      }, {
        label: "사료공장 중심",
      }, {
        label: "종축장 중심",
      }]
    };

    initMapControlsForBreakout("fmd", species, weights, optimizations);
    // $("#map-controls-go-button").trigger("click");
  });

</script>

{% endblock %}