<!--  -->
{% set active_menu_name = "사이트맵" %}

<!-- extends layout -->
{% extends "/layout/base_content.html" %}

<!-- title -->
{% block title %}{{active_menu_name}}{% endblock %}

<!-- head -->
{% block head %}
<link rel="stylesheet" href="/css/fix-scroll.css">
{% endblock %}

<!-- content -->
{% block content %}
<!--  -->
<div class="row mt-5 mb-5">
  <div class="col-md-12 mb-3">
    <h2>사이트맵</h2>
  </div>
  {% for menu in menus %}
  <div class="col-md-3 mb-5">
    <div class="list-group">
      <span class="list-group-item list-group-item-action list-group-item-dark">
        <strong>{{ menu.caption|e }}</strong>
      </span>
      {% for submenu in menu.children %}
      <a href="{{ submenu.href }}" class="list-group-item list-group-item-action">{{ submenu.caption|e }}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<!--  -->
{% endblock %}



<!-- footer -->
{% block footer %}

<script type="text/javascript">
  $(document).ready(function () {

  });
</script>

{% endblock %}